.hero__banner{
	height: 52px !important;
}

.container.answer__container.hero__banner-container{
	float: left !important;
	width: auto !important;
}

.cxl_container{
	float: right !important;
}

.cxl_button1{
	margin: 0 !important;
	cursor: pointer !important;
	
	font-family: Roboto Condensed !important;
	font-style: normal !important;
	font-weight: bold !important;

	height: 34px !important;
	background: #FFFFFF !important;
	border-radius: 7px !important;
	color: #3D91D9 !important;
	text-align: left !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	text-transform: none !important;
	font-size: 16px !important;
	line-height: 37px !important;
}

.cxl_button1:after{
	content: "_______" !important;
	width: 19px !important;
	max-width: 19px !important;
	color: transparent !important;
	display: inline-block !important;
	margin-left: 10px !important;
	background: center center no-repeat url("data:image/svg+xml !important;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjcwNzEgOC43MDcxMUMyMC4wOTc2IDguMzE2NTggMjAuMDk3NiA3LjY4MzQyIDE5LjcwNzEgNy4yOTI4OUwxMy4zNDMxIDAuOTI4OTMyQzEyLjk1MjYgMC41Mzg0MDggMTIuMzE5NSAwLjUzODQwOCAxMS45Mjg5IDAuOTI4OTMyQzExLjUzODQgMS4zMTk0NiAxMS41Mzg0IDEuOTUyNjIgMTEuOTI4OSAyLjM0MzE1TDE3LjU4NTggOEwxMS45Mjg5IDEzLjY1NjlDMTEuNTM4NCAxNC4wNDc0IDExLjUzODQgMTQuNjgwNSAxMS45Mjg5IDE1LjA3MTFDMTIuMzE5NSAxNS40NjE2IDEyLjk1MjYgMTUuNDYxNiAxMy4zNDMxIDE1LjA3MTFMMTkuNzA3MSA4LjcwNzExWk0wIDlIMTlWN0gwVjlaIiBmaWxsPSIjNDZBNUY3Ii8+Cjwvc3ZnPgo=") !important;
}

.cxl_button1:hover {
	transform: translateY(-1px) !important;
}

.cxl_button1:active {
	transform: translateY(2px) !important;
}

@media screen and (max-width: 867px){
	.cxl_button1{
		width: 100% !important;
	}
	.container.answer__container.hero__banner-container{
		display: inline-block !important;
		width: 95px !important;
		margin-top: -5px !important;
	}
	
	.hero__banner-text.hero__banner-text--condensed{
		float: left !important;
		display: block !important;
		width: 64px !important;
		font-size: 12px !important;
	}
	
	.hero__banner-text--large,
	.hero__banner-text--small{
	    font-size: 10px !important;
	}
	
	.hero__banner-text.hero__banner-text--flex {
		float: left !important;
		width: 30px !important;
		margin-top: 20px !important;
	}

	.answer__module-share{
		width: 60px !important;
		margin: -10px 0 0 0 !important;
	}
	
	.answer__banner{
		padding: 8px 5px 8px 5px !important;
	}
	
}
